In [1]:
import pandas as pd
import numpy as np
import os
import yfinance as yf

In [10]:
from functions_test import update_dataset
from functions_test import view_transactions
from functions_test import profit_user
from functions_test import add_new_operation
# from functions_test import update_dataset
# from functions_test import update_dataset

In [19]:
add_new_operation(8, "MSFT", 338.5, 336)

In [22]:
update_dataset()

In [20]:
view_transactions()

   user_id  operation_id             timestamp_entry  timestamp_exit ticker  \
0       23             0  2023-09-12 10:13:43.620338             NaN   AAPL
1       23             1  2023-09-12 10:13:44.308996             NaN   NVDA
2       25             2  2023-09-12 10:13:44.524999             NaN   AAPL
3       15             3  2023-09-12 14:07:45.291195             NaN   MSFT
4       12             4  2023-09-12 14:08:31.110198             NaN   MSFT
5        8             5  2023-09-12 14:08:48.578403             NaN   MSFT

  operation  current_price  price_purchased  profitability  stop_loss  \
0      long     179.360001       179.360001              0      154.0
1      long     451.779999       451.779999              0      413.0
2     short     179.360001       179.360001              0      210.0
3      long     337.940002       337.940002              0      330.0
4      long     337.940002       337.940002              0      337.5
5     short     337.940002       337.940002              0      338.5

   take_profit  status_transaction
0          211                   1
1          460                   1
2          160                   1
3          345                   1
4          345                   1
5          336                   1

In [21]:
profit_user()

user_id
8     0
12    0
15    0
23    0
25    0
Name: profitability, dtype: int64