In [1]:
import pandas as pd
import numpy as np
import os
import yfinance as yf

In [2]:
from functions_test import update_dataset
from functions_test import view_transactions
from functions_test import profit_user
from functions_test import add_new_operation
# from functions_test import update_dataset
# from functions_test import update_dataset

In [3]:
#add_new_operation(8, "MSFT", 338.5, 336)

In [4]:
view_transactions()

     user_id  operation_id             timestamp_entry  \
0         23             0  2023-09-12 10:13:43.620338
1         23             1  2023-09-12 10:13:44.308996
2         25             2  2023-09-12 10:13:44.524999
3         15             3  2023-09-12 14:07:45.291195
4         12             4  2023-09-12 14:08:31.110198
..       ...           ...                         ...
103       15           103  2023-09-12 16:31:23.667204
104       16           104  2023-09-12 16:31:24.270551
105       17           105  2023-09-12 16:31:24.861878
106       18           106  2023-09-12 16:31:25.403834
107       20           107  2023-09-12 16:31:25.986529

                 timestamp_exit ticker operation  current_price  \
0                           NaN   AAPL      long       177.2054
1                           NaN   NVDA      long       452.3731
2                           NaN   AAPL     short       177.2000
3                           NaN   MSFT      long       334.4850
4    2023-09-12 16:27:08.940493   MSFT      long       334.3900
..                          ...    ...       ...            ...
103  2023-09-12 16:32:26.459199   LYFT      long        11.3900
104  2023-09-12 16:32:27.012939     ZM      long        70.9700
105  2023-09-12 16:32:27.526485   DOCU      long        47.3300
106  2023-09-12 16:32:28.021184    CRM      long       223.9400
107  2023-09-12 16:32:28.531800   SPOT      long       156.0400

     price_purchased  profitability  stop_loss  take_profit  \
0         179.360001        0.98799      154.0        211.0
1         451.779999        1.00131      413.0        460.0
2         179.360001        1.01204      210.0        160.0
3         337.940002        0.98978      330.0        345.0
4         337.940002        0.98950      337.5        345.0
..               ...            ...        ...          ...
103        11.390000        1.00044       50.0         52.0
104        70.970000        1.00183      290.0        295.0
105        47.330000        1.00423      220.0        225.0
106       223.940000        1.00033      240.0        245.0
107       156.040000        1.00090      230.0        235.0

     status_transaction
0                     1
1                     1
2                     1
3                     1
4                     0
..                  ...
103                   0
104                   0
105                   0
106                   0
107                   0

[108 rows x 12 columns]

In [5]:
profit_user()

user_id
8     1.017457
25    1.012040
17    1.004230
11    1.003800
4     1.002775
7     1.002582
6     1.002061
16    1.001830
10    1.001668
9     1.001250
3     1.001245
20    1.000900
18    1.000330
14    1.000090
2     0.999855
13    0.999560
5     0.996051
15    0.990216
12    0.989688
23    0.989284
1     0.989107
Name: profitability, dtype: float64

In [6]:
update_dataset()

In [7]:
view_transactions()

     user_id  operation_id             timestamp_entry  \
0         23             0  2023-09-12 10:13:43.620338
1         23             1  2023-09-12 10:13:44.308996
2         25             2  2023-09-12 10:13:44.524999
3         15             3  2023-09-12 14:07:45.291195
4         12             4  2023-09-12 14:08:31.110198
..       ...           ...                         ...
103       15           103  2023-09-12 16:31:23.667204
104       16           104  2023-09-12 16:31:24.270551
105       17           105  2023-09-12 16:31:24.861878
106       18           106  2023-09-12 16:31:25.403834
107       20           107  2023-09-12 16:31:25.986529

                 timestamp_exit ticker operation  current_price  \
0                           NaN   AAPL      long       177.0500
1                           NaN   NVDA      long       451.4650
2                           NaN   AAPL     short       177.0799
3                           NaN   MSFT      long       334.2800
4    2023-09-12 16:27:08.940493   MSFT      long       334.3900
..                          ...    ...       ...            ...
103  2023-09-12 16:32:26.459199   LYFT      long        11.3900
104  2023-09-12 16:32:27.012939     ZM      long        70.9700
105  2023-09-12 16:32:27.526485   DOCU      long        47.3300
106  2023-09-12 16:32:28.021184    CRM      long       223.9400
107  2023-09-12 16:32:28.531800   SPOT      long       156.0400

     price_purchased  profitability  stop_loss  take_profit  \
0         179.360001        0.98712      154.0        211.0
1         451.779999        0.99930      413.0        460.0
2         179.360001        1.01271      210.0        160.0
3         337.940002        0.98917      330.0        345.0
4         337.940002        0.98950      337.5        345.0
..               ...            ...        ...          ...
103        11.390000        1.00044       50.0         52.0
104        70.970000        1.00183      290.0        295.0
105        47.330000        1.00423      220.0        225.0
106       223.940000        1.00033      240.0        245.0
107       156.040000        1.00090      230.0        235.0

     status_transaction
0                     1
1                     1
2                     1
3                     1
4                     0
..                  ...
103                   0
104                   0
105                   0
106                   0
107                   0

[108 rows x 12 columns]

In [8]:
profit_user()

user_id
8     1.017721
25    1.012710
17    1.004230
11    1.003800
4     1.002775
7     1.002582
6     1.002322
16    1.001830
10    1.001668
9     1.001250
3     1.001065
20    1.000900
18    1.000330
2     1.000115
14    1.000090
13    0.999290
5     0.996051
12    0.989688
15    0.989605
1     0.989107
23    0.986429
Name: profitability, dtype: float64

In [9]:
# # User 1
# # add_new_operation(1, "AAPL", 145.2, 150)  # Long
# # add_new_operation(1, "GOOGL", 2900, 2750) # Short
# # add_new_operation(1, "AMZN", 3400, 3450)  # Long
# # add_new_operation(1, "TSLA", 720, 690)    # Short
# add_new_operation(1, "META", 355, 360)      # Long
# add_new_operation(1, "NVDA", 195, 190)    # Short
# add_new_operation(1, "NFLX", 520, 530)    # Long
# add_new_operation(1, "ADBE", 570, 560)    # Short
# add_new_operation(1, "INTC", 53, 55)      # Long
# add_new_operation(1, "ORCL", 80, 78)      # Short

# # User 2
# add_new_operation(2, "IBM", 140, 145)     # Long
# add_new_operation(2, "CSCO", 57, 55)      # Short
# add_new_operation(2, "UBER", 45, 47)      # Long
# add_new_operation(2, "LYFT", 52, 50)      # Short
# add_new_operation(2, "ZM", 290, 295)      # Long
# add_new_operation(2, "DOCU", 225, 220)    # Short
# add_new_operation(2, "CRM", 240, 245)     # Long
# # add_new_operation(2, "TWTR", 65, 60)      # Short
# add_new_operation(2, "SPOT", 230, 235)    # Long
# add_new_operation(2, "MSFT", 340, 335)    # Short

# # ... Continue in similar fashion for users 3 to 20

In [10]:
# # User 3
# add_new_operation(3, "BA", 220, 230)      # Long
# add_new_operation(3, "GM", 60, 58)        # Short
# add_new_operation(3, "F", 13, 14)         # Long
# add_new_operation(3, "GE", 105, 100)      # Short
# add_new_operation(3, "DIS", 180, 185)     # Long
# add_new_operation(3, "V", 210, 205)       # Short
# add_new_operation(3, "MA", 330, 340)      # Long
# add_new_operation(3, "PYPL", 270, 260)    # Short
# add_new_operation(3, "PFE", 40, 42)       # Long
# add_new_operation(3, "JNJ", 165, 160)     # Short

# # User 4
# add_new_operation(4, "GS", 350, 355)      # Long
# add_new_operation(4, "JPM", 150, 145)     # Short
# add_new_operation(4, "BAC", 40, 38)       # Long
# add_new_operation(4, "M", 20, 18)         # Short
# add_new_operation(4, "HD", 320, 325)      # Long
# add_new_operation(4, "LOW", 190, 185)     # Short
# add_new_operation(4, "ATVI", 90, 88)      # Long
# add_new_operation(4, "EA", 140, 138)      # Short
# add_new_operation(4, "ZNGA", 10, 9.5)     # Long
# #add_new_operation(4, "TTWO", 180, 175)    # Short

# # User 5
# add_new_operation(5, "KO", 55, 57)        # Long
# add_new_operation(5, "PEP", 140, 138)     # Short
# add_new_operation(5, "MCD", 220, 225)     # Long
# add_new_operation(5, "SBUX", 110, 108)    # Short
# add_new_operation(5, "CVX", 105, 103)     # Long
# add_new_operation(5, "XOM", 60, 58)       # Short
# add_new_operation(5, "BP", 25, 24)        # Long
#add_new_operation(5, "TOT", 50, 48)       # Short
#add_new_operation(5, "RDS.A", 40, 38)     # Long
#add_new_operation(5, "RDS.B", 42, 40)     # Short

# ... Continue in similar fashion for users 6 to 20

In [11]:
# # User 1
# add_new_operation(1, "AAPL", 145.2, 150)  # Long
# add_new_operation(1, "GOOGL", 2900, 2750) # Short

# # User 2
# add_new_operation(2, "AMZN", 3400, 3450)  # Long
# add_new_operation(2, "TSLA", 720, 690)    # Short

# # User 3
# add_new_operation(3, "META", 355, 360)      # Long
# add_new_operation(3, "NVDA", 195, 190)    # Short

# # User 4
# add_new_operation(4, "NFLX", 520, 530)    # Long
# add_new_operation(4, "ADBE", 570, 560)    # Short

# # User 5
# add_new_operation(5, "INTC", 53, 55)      # Long
# add_new_operation(5, "ORCL", 80, 78)      # Short

# # User 6
# add_new_operation(6, "IBM", 140, 145)     # Long
# add_new_operation(6, "CSCO", 57, 55)      # Short

# # User 7
# add_new_operation(7, "UBER", 45, 47)      # Long
# add_new_operation(7, "LYFT", 52, 50)      # Short

# # User 8
# add_new_operation(8, "ZM", 290, 295)      # Long
# add_new_operation(8, "DOCU", 225, 220)    # Short

# # User 9
# add_new_operation(9, "CRM", 240, 245)     # Long
# #add_new_operation(9, "TWTR", 65, 60)      # Short

# # User 10
# add_new_operation(10, "SPOT", 230, 235)   # Long
# add_new_operation(10, "MSFT", 340, 335)   # Short

# # ... Continue for users 11 to 20

In [12]:
# # Long Positions
# add_new_operation(8, "AAPL", 145.2, 150)
# add_new_operation(8, "GOOGL", 2800, 2850)
# add_new_operation(8, "AMZN", 3400, 3450)
# add_new_operation(8, "TSLA", 700, 720)
# add_new_operation(8, "meta", 355, 360)
# add_new_operation(8, "NVDA", 190, 195)
# add_new_operation(8, "NFLX", 520, 530)
# add_new_operation(8, "ADBE", 560, 570)
# add_new_operation(8, "INTC", 53, 55)
# add_new_operation(8, "ORCL", 78, 80)

# # Short Positions
# add_new_operation(8, "IBM", 145, 140)
# add_new_operation(8, "CSCO", 57, 55)
# add_new_operation(8, "UBER", 47, 45)
# add_new_operation(8, "LYFT", 52, 50)
# add_new_operation(8, "ZM", 295, 290)
# add_new_operation(8, "DOCU", 225, 220)
# add_new_operation(8, "CRM", 245, 240)
# #add_new_operation(8, "TWTR", 65, 60)
# add_new_operation(8, "SPOT", 235, 230)
# add_new_operation(8, "MSFT", 340, 335)

# # ... and so on for a total of 100 operations.

In [13]:
# add_new_operation(1, "AAPL", 145.2, 150)
# add_new_operation(2, "GOOGL", 2800, 2850)
# add_new_operation(3, "AMZN", 3400, 3450)
# add_new_operation(4, "TSLA", 700, 720)
# add_new_operation(5, "META", 355, 360)
# add_new_operation(6, "NVDA", 190, 195)
# add_new_operation(7, "NFLX", 520, 530)
# add_new_operation(8, "MSFT", 338.5, 336)
# add_new_operation(9, "ADBE", 560, 570)
# add_new_operation(10, "INTC", 53, 55)
# add_new_operation(11, "ORCL", 78, 80)
# add_new_operation(12, "IBM", 140, 145)
# add_new_operation(13, "CSCO", 55, 57)
# add_new_operation(14, "UBER", 45, 47)
# add_new_operation(15, "LYFT", 50, 52)
# add_new_operation(16, "ZM", 290, 295)
# add_new_operation(17, "DOCU", 220, 225)
# add_new_operation(18, "CRM", 240, 245)
# #add_new_operation(19, "TWTR", 60, 65)
# add_new_operation(20, "SPOT", 230, 235)